<div class="container" id="a">
	<div class="row">
		<h3 class="title text-center">Quản lý sản phẩm</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<form action="">
						<div class="col-sm-3 text-center">
							<label for="image"> <img
								ng-src="{{'/images/' + form.image}}"
								style="width: 195px; height: 195px">
							</label>
						</div>
						<div class="col-sm-9">
							<div class="row">
								<div class="form-group col-sm-6">
									<div>Tên sản phẩm</div>
									<input ng-model="form.name" class="form-control" name="product">
								</div>
								<div class="form-group col-sm-6">
									<div>Giá</div>
									<input type="number" ng-model="form.price" class="form-control"
										required name="price">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<div>Số lượng</div>
									<input ng-model="form.soluong" class="form-control"
										required="required" name="quantity">
								</div>
								<div class="form-group col-sm-6">
									<div>Hình</div>
									<input type="file" class="form-control" ng-model="form.image"
										onchange="angular.element(this).scope().imageChanged(this.files)">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<div>Trạng thái?</div>
									<div class="form-control" ng-init="form.available = true">
										<label class="radio-inline"> <input
											ng-model="form.available" ng-value="true" name="available"
											type="radio">Mở khóa
										</label> <label class="radio-inline"> <input
											ng-model="form.available" ng-value="false" name="available"
											type="radio">Khóa sản phẩm
										</label>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<div>Nhãn hiệu</div>
									<select ng-model="form.catesmall.id" class="form-control">
										<option ng-repeat="c in catesmall" ng-value="c.id">{{c.name}}</option>
									</select>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="panel-footer text-center">
				<i class="pull-left text-danger mb-2" style="font-size: 20px;">{{message}}</i>
				<button ng-click="create()">
					<b class="glyphicon glyphicon-floppy-saved"></b> Create
				</button>
				<button ng-click="update()">
					<b class="glyphicon glyphicon-save"></b> Update
				</button>
				<button ng-click="delete(form)">
					<b class="glyphicon glyphicon-trash"></b> Delete
				</button>
				<button ng-click="reset()">
					<b class="glyphicon glyphicon-refresh"></b> Reset
				</button>
			</div>
		</div>
	</div>
</div>
