<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <body>
        <main>
        <div th:replace="~{/cart/chitiet :: shopping_cart}"></div>
            <div class="panel panel-primary">
                <div class="panel-heading">ORDER PURCHASING</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div>Purchaser:</div>
                            <div class="form-control" id="username">[[${#request.remoteUser}]]</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div>Order Date:</div>
                            <div class="form-control">{{order.createDate | date: 'dd-MM-yyyy'}}</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div>NguoiNhan:</div>
                            <input class="form-control" ng-model="order.nguoinhan">
                        </div>
                        <div class="form-group col-sm-6">
                            <div>DiaChiNN:</div>
                            <input class="form-control" ng-model="order.diachinn">
                        </div>
                        <div class="form-group col-sm-6">
                            <div>SDT:</div>
                            <input class="form-control" ng-model="order.sdt">
                        </div>
                        <div class="form-group col-sm-6">
                            <div>TrangThai:</div>
                            <input class="form-control" ng-model="order.trangthai">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div>Shopping Address:</div>
                            <textarea class="form-control" ng-model="order.address"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button ng-click="order.purchase()" class="btn btn-success">Purchase</button>
            </div>
        </main>
    </body>
</html>