<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main th:object="${order}">
		<div class="container_fullwidth">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="title text-center">Thông tin đơn hàng</h3>
						<div class="checkout-page">
							<div class="step-description">
								<form>
									<div class="your-details" th:each="order, state : ${order}">
										<div class="col-md-6">
											<div class="form-row">
												<div class="form-control">
													Số đơn hàng <strong class="red"> * </strong>
													[[${order.id}]]
												</div>
											</div>
											<div class="form-row">
												<div class="form-control">
													Ngày đặt hàng <strong class="red"> * </strong>
													[[${order.createDate}]]
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-row">
												<div class="form-control">
													Trạng thái <strong class="red"> * </strong>
													[[${order.trangthai}]]
												</div>
											</div>
											<div class="form-row">
												<div class="form-control">
													Địa chỉ <strong class="red"> * </strong>
													[[${order.diachinn}]]
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<table class="table table-bordered text-center table-hover">
							<thead class="table-info">
								<tr>
									<th>No.</th>
									<th>Tên sản phẩm</th>
									<th>Hình ảnh</th>
									<th>Tên cửa hàng</th>
									<th>Giá</th>
									<th>Số lượng</th>
									<th>Tổng tiền</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="detail : *{orderDetails}" th:object="${detail}">
									<td>
										<div class="shop-details">
											<div class="productname">[[*{product.id}]]</div>
										</div>
									</td>
									<td>
										<div class="shop-details">
											<div class="productname">[[*{product.name}]]</div>
										</div>
									</td>
									<td class="w-25"><a
										th:href="@{|/product/detail/*{product.id}?cid=*{product.catesmall.category.id}|}"><img
											class="w-50" th:src="@{/images/{img}(img=*{product.image})}"></a></td>
									<td>
										<div class="shop-details">
											<div class="productname">[[*{product.cuahang.tencuahang}]]</div>
										</div>
									</td>
									<td>[[*{#numbers.formatDecimal(price, 0, 'COMMA', 0,
										'POINT')}]] VNĐ</td>
									<td>[[*{quantity}]]</td>
									<td class="red">[[*{#numbers.formatDecimal(price*quantity,
										0, 'COMMA', 0, 'POINT')}]] VNĐ</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>