
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="title text-center">
				Danh sách mã code ({{items.length}}<i
					class="glyphicon glyphicon-qrcode ml-2"></i>)
			</h3>
			<div class="checkout-page">
				<div class="step-description">
					<form>
						<div class="your-details">
							<div class="form-group col-sm-10">
								<div>
									<input placeholder="Nhập mã code bạn cần tìm !!!"
										ng-model="form.code" class="form-control">
								</div>
							</div>
							<div class="form-group col-sm-2">
								<button ng-click="timkiem()">
									<i class="glyphicon glyphicon-search mr-1"></i>Tìm Kiếm
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<table class="table table-bordered text-center table-hover">
				<thead class="table-info">
					<tr class="table-th">
						<th>ID</th>
						<th>Tài khoản</th>
						<th>Tên của hàng</th>
						<th>Mã code</th>
						<th>Ngày bắt đầu</th>
						<th>Ngày kết thúc</th>
						<th>Phần trăm</th>
						<th>Trạng thái</th>
						<th>Sửa</th>
						<th>Xóa</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in pager.items">
						<td>
							<div class="shop-details">
								<div class="productname">{{item.id}}</div>
							</div>
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">{{item.cuahang.account.username}}</div>
							</div>
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">{{item.cuahang.tencuahang}}</div>
							</div>
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">{{item.code}}</div>
							</div>
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">{{item.starday}}</div>
							</div>
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">{{item.endday}}</div>
							</div>
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">{{item.percents}}%</div>
							</div>
						</td>
						<td>
							<div class="form-check form-switch">
								<input class="form-check-input form-check-lg" type="checkbox"
									ng-checked="item.trangthai"
									ng-click="changeStatus(item.id)">
							</div>
						</td>
						<td>
							<div>
								<button ng-click="edit(item)">
									<i class="glyphicon glyphicon-edit"></i>
								</button>
							</div>
						</td>
						<td>
							<div>
								<button ng-click="delete(item)">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="panel-footer text-center">
				<button ng-click="pager.first()">
					<b class="glyphicon glyphicon-hand-up"></b>
				</button>
				<button ng-click="pager.prev()">
					<b class="glyphicon glyphicon-hand-left"></b>
				</button>
				<button>{{pager.page + 1}} of {{pager.count}}</button>
				<button ng-click="pager.next()">
					<b class="glyphicon glyphicon-hand-right"></b>
				</button>
				<button ng-click="pager.last()">
					<b class="glyphicon glyphicon-hand-down"></b>
				</button>
			</div>
		</div>
	</div>
</div>