<br>
<center style='color:red;'><h1>Phân Quyền</h1></center>
<br>
<br>
    <table ng-if="db" style="width: 100% "  border="1" class="table table-bordered table-striped table-hover" >
	<thead >
		<tr style="color: #833471; font-size:20px;" class="danger">
			<th>Tài khoản</th>
			<th ng-repeat="role in db.roles">{{role.name}} </th>
		</tr>
	</thead>
	<tbody style="color: #9980FA; font-size: 15px;">
		<tr ng-repeat="acc in db.accounts" class="warning">
			<th>{{acc.username}}</th>
			<th ng-repeat="role in db.roles"><input type="checkbox"
				ng-checked="index_of(acc.username, role.id) >=0"
				ng-click="update(acc.username, role.id)"></th>
		</tr>
	</tbody>
</table>

