<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main id="capnhattk" class="container">
		<div class="contact-form">
			<div class="contact-image">
				<img class="border-bottom border-danger p-3"
					src="../../images/logo1-test.png" />
			</div>
			<form name="capnhat" class="row" method="POST">
				<h3>Cập nhật thông tin</h3>
				<div class="col-md-6">
					<div class="form-group">
						<h5 id="username">Tài Khoản --[[${#request.remoteUser}]]--</h5>
					</div>
					<div class="form-group">
						<input type="text" ng-model="fullname" name="fullname"
							class="form-control" placeholder="Your Fullname *" required />
					</div>
					<div class="form-group">
						<input type="email" ng-model="email" name="email"
							class="form-control" placeholder="Your Email *" required />
					</div>
					<div>
						Hình ảnh<br> </br><input type="file" class="form-control"
							id="image"
							onchange="angular.element(this).scope().imageChanged(this.files)">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="image"> <img class="image"
							ng-src="{{'/images/' + photo}}">
						</label>	
					</div>
				</div>
				<div class="panel-footer form-group">
					<div class="text-right">
						<button ng-show="capnhat.$valid" ng-click="capnhattk()">Cập nhật</button>
					</div>
					<div ng-show="capnhat.$invalid">Vui lòng nhập đầy đủ thông tin !!!</div>
				</div>
			</form>
		</div>
	</main>
</body>
</html>