<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main id="doimk">
		<section class="get-in-touch">
			<h1 class="title">ĐỔI MẬT KHẨU</h1>
			<form class="contact-form row">
				<div class="form-field col-lg-12">
					<div id="username" class="input-text js-input">[[${#request.remoteUser}]]</div>

				</div>
				<div class="form-field col-lg-12 ">
					<input id="password" class="input-text js-input" type="password"
						ng-model="form.password" required> <label class="label"
						for="email">Password</label>
				</div>
				<div class="form-field col-lg-12 ">
					<input id="newPass" class="input-text js-input" type="password"
						ng-model="form.newPass" required> <label class="label"
						for="company">New Password</label>
				</div>
				<div class="form-field col-lg-12">
					<input id="confirm" class="input-text js-input" type="password"
						ng-model="form.confirm" required> <label class="label"
						for="phone">Confirm</label>
				</div>

				<div class="form-field col-lg-12">
					<input class="submit-btn" ng-click="doimk()" type="submit"
						value="Submit">
				</div>

			</form>
		</section>
	</main>
</body>
</html>