<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div id="body">
			<ul>
				<li><a href=""><img src="../../images/hairstyle17.jpg"
						alt="" style="width: 210px; height: 170px;"></a> <b>smartphone</b>
					<p>Smartphone dịch ra tiếng Việt có nghĩa là “điện thoại thông
						minh”. Nó là 1 loại điện thoại di động thế hệ mới, tích hợp với hệ
						điều hành và cho phép người dùng sử dụng các ứng dụng tiện ích sẵn
						có trong cửa hàng ứng dụng (hay còn gọi là App Store) của hệ điều
						hành ấy.</p></li>
				<li><a href=""><img src="../../images/laptop.jpg" alt=""
						style="width: 210px; height: 170px;"></a> <b>Laptop</b>
					<p>Nơi cung ứng laptop hàng đầu hiện này từ việc học cho đến
						laptop gaming , đi kèm với dịch vụ hỗ trợ tận tình nhất Cung cấp
						các dòng laptop như :Asus , MacBook , MSI , HP...</p></li>
				<li><a href=""><img src="../../images/dongho.jpg" alt=""
						style="width: 210px; height: 170px;"></a> <b>Đồng hồ thông
						minh</b>
					<p>Nơi cung ứng Đồng hồ thông minh hàng đầu hiện này từ mẫu mã
						thời trang, sức khỏe và thể thao , đi kèm với dịch vụ hỗ trợ tận
						tình nhất Cung cấp các dòng đồng hồ như :SAMSUNG , WATCH, XIAPMI</p></li>
				<li><a href=""><img src="../../images/phukien.jpg" alt=""
						style="width: 210px; height: 170px;"></a> <b>Phụ Kiện</b>
					<p>Và Ngoài ra chúng tôi còn cung cấp phụ kiện điện thoại và
						laptop chính hãng với nhiều loại và mẫu mã khách hàng có thể tự do
						mua sắm</p></li>
			</ul>
			<div>
				<div class="featured">
					<h2>Young Creative</h2>
					<img src="../../images/laptop1.jpg" alt=""
						style="width: 210px; height: 170px;">
					<h3>Young Creative , Nơi bạn có thể an tâm khi mua sắm</h3>
					<p>Our website templates are created with inspiration, checked
						for quality and originality and meticulously sliced and coded.
						What’s more, they’re absolutely free! You can do a lot with them.
						You can modify them. You can use them to design websites for
						clients, so long as you agree with the Terms of Use.</p>
					<p>You can even remove all our links if you want to. Looking
						for more templates? Just browse through all our Free Website
						Templates and find what you’re looking for. But if you don’t find
						any website template you can use, you can try our Free Web Design
						service and tell us all about it. Maybe you’re looking for
						something different, something special.</p>
					<p>And we love the challenge of doing something different and
						something special. If you’re experiencing issues and concerns
						about this website template, join the discussion on our forum and
						meet other people in the community who share the same interests
						with you. Version 13.</p>
				</div>
				<div class="section">
					<div class="article">
						<h2>Young Creative</h2>
						<p>This website template has been designed by <a
								href="http://www.freewebsitetemplates.com/">Free Website
								Templates</a> for you, for free. You can replace all this text with
							your own text. You can remove any link to our website from this
							website template, you're free to use this website template
							without linking back to us. If you're having problems editing
							this website template, then don't hesitate to ask for help on the
							<a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
						</p>
						
					</div>
					<div class="newsletter">
						<img src="../../images/slider-image-01.png" alt=""
							style="width: 250px; height: 300px;">
						<p>
							Are you losing your hair? Let us help you in bringing back your
							confidence. <span>Call Us at 1800-0000-0000</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>