<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}">

<body>
	<main id="indivi">
		<section class="get-in-touch">
			<form class="contact-form row">
				<div class="contact-image">
					<img class="border-bottom border-danger p-3" ng-src="../../images/{{accounts.photo}}"/>
				</div>
				<div class="title form-field">
					<div id="username" class="input-text">Tài Khoản --[[${#request.remoteUser}]]--</div>
				</div>
				<div class="form-field col-lg-12 ">
					<input type="text" ng-model="accounts.fullname" readonly="readonly">
					<span>Fullname*</span>
				</div>
				<div class="form-field col-lg-12 ">
					<input type="text" ng-model="accounts.email" readonly="readonly">
					<span>Email*</span>
				</div>
				<div class="form-field col-lg-12">
					<input type="text" value="{{ accounts.trangthai ? 'Mở' : 'Khóa' }}"
						readonly="readonly"> <span>Trạng thái tài khoản*</span>
				</div>
				<div class="text-center">
					<button onclick="location.href='/account/edit'" type="submit"
						class="btn btn-get">
						<span>Đổi thông tin</span>
					</button>
				</div>
			</form>
		</section>
	</main>
</body>
</html>