<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/allstoresEdit.css">
<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">NHẬP THÔNG TIN CỦA HÀNG</h2>
				</div>
			</div>
			<div class="row justify-content-center" >
				<div class="col-md-12" >
					<div class="wrapper" >
						<div class="row mb-5" >
							<div class="col-md-4">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-map-marker"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Address:</span> Thành Phố Cần Thơ</p>
				          </div>
			          </div>
							</div>
							<div class="col-md-4">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-phone"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Phone:</span> <a href="">0909090909</a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-4">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-paper-plane"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Email:</span> <a href="">young creative@yoursite.com</a></p>
				          </div>
			          </div>
							</div>
						</div>
						<div class="row no-gutters" >
							<div class="col-md-7" >
								<div class="contact-wrap w-100 p-md-5 p-4" style="background-color: rgb(7, 107, 99);">
									<h3 class="mb-4" style="text-align: center;">Nhập thông tin</h3>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										<div class="row" >
											<div class="col-md-6"> 
												<div class="form-group">
													<span>
														<img src="/images/laptop.jpg" alt="..." class="rounded" style="height: 150px; margin-left: 40px;">
													</span>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="subject">Tên Cửa Hàng</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="Vui lòng nhập Tên Cửa Hàng">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Chủ Shop</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="Vui lòng nhập Tên Chủ Shop">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="subject">Trạng thái</label>
													<input type="text" class="form-control" name="" id="" placeholder="Vui lòng Cập nhật trạng thái">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="name">Tổng sản phẩm</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="Vui lòng nhập tổng số sản phẩm">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<button type="button" class="btn btn-primary" style="margin-left: 20px;">TO ADD</button>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<button type="button" class="btn btn-danger">UPDATE</button>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<button type="button" class="btn btn-success">DELETE</button>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<button type="button" class="btn btn-info">NEW</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-5 img" style="background-image: url(images/img.jpg);">
			                   </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br><br>