
<link rel="stylesheet" href="css/allstoresTable.css" type="text/css">
	<div class="table-users">
   <div class="header">Users</div>
   
   <table cellspacing="0">
      <tr>
         <th>Picture</th>
         <th>Tên cửa hàng</th>
         <th>Chủ Shopp</th>
         <th>Trạng Thái</th>
         <th>Tổng sản phẩm</th>
         <th>Edit</th>
      </tr>

      <tr>
         <td><img src="https://i.picsum.photos/id/1005/100/100.jpg" alt="" /></td>
         <td>Jane Doe</td>
         <td>jane.doe@foo.com</td>
         <td>01 800 2000</td>
         <td>01 800 2000</td>
         <td> 
         <div class="btn-group btn-group-xs" style="text-align: center;">
			<button ng-click="edit(item)" class="btn btn-warning glyphicon glyphicon-edit"></button>
			<button ng-click="delete(item)" class="btn btn-danger glyphicon glyphicon-trash"></button>
		 </div>
         </td>
      </tr>

       <tr>
         <td><img src="https://i.picsum.photos/id/1005/100/100.jpg" alt="" /></td>
         <td>Jane Doe</td>
         <td>jane.doe@foo.com</td>
         <td>01 800 2000</td>
         <td>01 800 2000</td>
         <td> 
         <div class="btn-group btn-group-xs" style="text-align: center;">
			<button ng-click="edit(item)" class="btn btn-warning glyphicon glyphicon-edit"></button>
			<button ng-click="delete(item)" class="btn btn-danger glyphicon glyphicon-trash"></button>
		 </div>
         </td>
      </tr>


       <tr>
         <td><img src="https://i.picsum.photos/id/1005/100/100.jpg" alt="" /></td>
         <td>Jane Doe</td>
         <td>jane.doe@foo.com</td>
         <td>01 800 2000</td>
         <td>01 800 2000</td>
         <td> 
         <div class="btn-group btn-group-xs" style="text-align: center;">
			<button ng-click="edit(item)" class="btn btn-warning glyphicon glyphicon-edit"></button>
			<button ng-click="delete(item)" class="btn btn-danger glyphicon glyphicon-trash"></button>
		 </div>
         </td>
      </tr>

       <tr>
         <td><img src="https://i.picsum.photos/id/1005/100/100.jpg" alt="" /></td>
         <td>Jane Doe</td>
         <td>jane.doe@foo.com</td>
         <td>01 800 2000</td>
         <td>01 800 2000</td>
         <td> 
         <div class="btn-group btn-group-xs" style="text-align: center;">
			<button ng-click="edit(item)" class="btn btn-warning glyphicon glyphicon-edit"></button>
			<button ng-click="delete(item)" class="btn btn-danger glyphicon glyphicon-trash"></button>
		 </div>
         </td>
      </tr>

       <tr>
         <td><img src="https://i.picsum.photos/id/1005/100/100.jpg" alt="" /></td>
         <td>Jane Doe</td>
         <td>jane.doe@foo.com</td>
         <td>01 800 2000</td>
         <td>01 800 2000</td>
         <td> 
         <div class="btn-group btn-group-xs" style="text-align: center;">
			<button ng-click="edit(item)" class="btn btn-warning glyphicon glyphicon-edit"></button>
			<button ng-click="delete(item)" class="btn btn-danger glyphicon glyphicon-trash"></button>
		 </div>
         </td>
      </tr>

   </table>
</div>