<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}">
<body>
	<main id="postbai" class="container">
		<div class="contact-form">
			<div class="contact-image">
				<img class="border-bottom border-danger p-3"
					src="../../images/logo1-test.png" />
			</div>
			<form name="postNews" class="row" method="POST">
				<h3>Thêm tin tức mới</h3>
				<div class="col-md-6">
					<div class="form-group">
						<h5 id="username">Tài khoản: [[${#request.remoteUser}]]</h5>
					</div>
					<div class="form-group">
						<textarea ng-model="noidung" name="noidung"
							placeholder="Nội dung *" required></textarea>
						<input type="file" id="photo"
							onchange="angular.element(this).scope().imageChanged(this.files)">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label><img class="image" ng-src="{{'/images/' + photo}}"></label>
					</div>
				</div>
				<div class="form-group">
					<div ng-show="postNews.$valid" class="panel-footer text-right">
						<button ng-click="tintuc.post()">Đăng bài</button>
					</div>
				</div>
				<div class="panel-footer text-center" ng-show="postNews.$invalid">Vui lòng nhập đầy đủ thông tin !!!</div>
			</form>
		</div>
	</main>
</body>
</html>