<body>
	<main id="indivi">
		<section class="get-in-touch">
			<form class="contact-form row">
				<div class="contact-image">
					<img class="border-bottom border-danger p-3" ng-src="../../images/{{store.image}}"/>
				</div>
				<div class="title form-field">
					<div id="username" class="input-text">Tài Khoản  --{{store.account.username}}--</div>
				</div>
				<div class="form-field col-lg-12">
					<input type="text" ng-model="store.tencuahang"  readonly="readonly">
					<span>Tên cửa hàng</span>
				</div>
				<div class="form-field col-lg-12">
					<input type="text" ng-model="store.account.email"  readonly="readonly">
					<span>Email</span>
				</div>
				<div class="form-field col-lg-12">
					<input type="text" value="{{ store.trangthai ? 'Đang hoạt động' : 'Đã bị khóa' }}"
						readonly="readonly"> <span>Trạng thái tài khoản*</span>
				</div>
			</form>
		</section>
	</main>
</body>