<body>
	<main id="indivi">
		<div class="container">
			<div class="containerForm"
				style="background-image: url('/images/hinhnen.jpg'); width: 1000px; height: 100%">
				<div>
					<div class="sen">
						<img src="{{'/images/1.1.jpg' }}" width="150" height="150"
							border="1"><br> <br>
					</div>
					<div class="formBox">
						<div class="inputBox w50" >
							<h4 style="background-color: red">Tên tài khoản</h4> <br> <input ng-model="store.account.username"
								readonly="readonly">
						</div>
						<div class="inputBox w50" style="background-color: red">
							Tên cửa hàng<br> <input ng-model="store.tencuahang"
								readonly="readonly">
						</div>
						<div class="inputBox w50" style="background-color: red">
							Trạng thái<br> <input ng-model="store.trangthai"
								readonly="readonly">
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>