<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="wrapper">

			<div class="clearfix"></div>
			<div class="page-index">
				<div class="container">
					<p>Trang chủ - Thanh toán</p>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="container_fullwidth">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="special-deal leftbar" style="margin-top: 0;">
							<h4 class="title">
								Sản phẩm <strong> Đặc biệt </strong>
							</h4>
							<div class="special-item">
								<div class="product-image">
									<a href="details.html"> <img
										src="images/products/thum/products-01.png" alt="">
									</a>
								</div>
								<div class="product-info">
									<p>
										<a href="details.html"> Licoln Corner Unit </a>
									</p>
									<h5 class="price">$300.00</h5>
								</div>
							</div>
							<div class="special-item">
								<div class="product-image">
									<a href="details.html"> <img
										src="images/products/thum/products-02.png" alt="">
									</a>
								</div>
								<div class="product-info">
									<p>
										<a href="details.html"> Licoln Corner Unit </a>
									</p>
									<h5 class="price">$300.00</h5>
								</div>
							</div>
							<div class="special-item">
								<div class="product-image">
									<a href="details.html"> <img
										src="images/products/thum/products-03.png" alt="">
									</a>
								</div>
								<div class="product-info">
									<p>
										<a href="details.html"> Licoln Corner Unit </a>
									</p>
									<h5 class="price">$300.00</h5>
								</div>
							</div>
						</div>
						<div class="product-tag leftbar">
							<h3 class="title">
								Sản phẩm <strong> Ưa thích </strong>
							</h3>
							<ul>
								<li><a href="#"> Lincoln us </a></li>
								<li><a href="#"> SDress for Girl </a></li>
								<li><a href="#"> Corner </a></li>
								<li><a href="#"> Window </a></li>
								<li><a href="#"> PG </a></li>
								<li><a href="#"> Oscar </a></li>
								<li><a href="#"> Bath room </a></li>
								<li><a href="#"> PSD </a></li>
							</ul>
						</div>
						<div class="get-newsletter leftbar">
							<h3 class="title">
								<strong> Bản tin </strong>
							</h3>
							<p>Thông tin kỹ thuật.</p>
							<form>
								<input class="email" type="text" name=""
									placeholder=" Email của bạn ..."> <input class="submit"
									type="submit" value="Xác nhận">
							</form>
						</div>
					</div>
					<div class="col-md-9">
						<div class="checkout-page">
							<ol class="checkout-steps">
								<li class="steps"><a href="/checkout" class="step-title">
										01. Lựa chọn thanh toán </a></li>
								<li class="steps active"><a href="/checkout"
									class="step-title"> 02. Thông tin thanh toán </a>
									<div class="step-description">
										<form>
											<div class="row">
												<div class="col-md-6 col-sm-6">
													<div class="your-details">
														<h5>Thông tin chi tiết về bạn</h5>
														<div class="form-row">
															<label class="lebel-abs"> Họ <strong class="red">
																	* </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<div class="form-row">
															<label class="lebel-abs"> Tên <strong class="red">
																	* </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<div class="form-row">
															<label class="lebel-abs"> Email <strong
																class="red"> * </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<div class="form-row">
															<label class="lebel-abs"> Số điện thoại <strong
																class="red"> * </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<div class="form-row">
															<label class="lebel-abs"> Fax <strong class="red">
																	* </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<div class="form-row">
															<label class="lebel-abs"> Địa chỉ <strong
																class="red"> * </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<div class="pass-wrap">
															<div class="form-row">
																<label class="lebel-abs"> Mật khẩu <strong
																	class="red"> * </strong>
																</label> <input type="password" class="input namefild" name="">
															</div>
															<div class="form-row">
																<label class="lebel-abs"> Xác nhận mật khẩu <strong
																	class="red"> * </strong>
																</label> <input type="password" class="input cpass" name="">
															</div>
														</div>
														<p>
															<span class="input-radio"> <input type="radio"
																name="user">
															</span> <span class="text"> Tôi muốn đăng ký Bản tin Cửa
																hàng thảo dược </span>
														</p>
														<p>
															<span class="input-radio"> <input type="radio"
																name="user">
															</span> <span class="text"> Giao hàng và thanh toán của
																tôi địa chỉ giống nhau. </span>
														</p>
													</div>
												</div>
												<div class="col-md-6 col-sm-6">
													<div class="your-details">
														<h5>Thông tin liên hệ của bạn</h5>
														<div class="form-row">
															<label class="lebel-abs"> Địa chỉ 01 <strong
																class="red"> * </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<div class="form-row">
															<label class="lebel-abs"> Địa chi 02 <strong
																class="red"> * </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<div class="form-row">
															<label class="lebel-abs"> Thành phố <strong
																class="red"> * </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<div class="form-row">
															<label class="lebel-abs"> Mật khẩu <strong
																class="red"> * </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<div class="form-row">
															<label class="lebel-abs"> Nơi sống <strong
																class="red"> * </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<div class="form-row">
															<label class="lebel-abs"> Vùng / Tiểu bang <strong
																class="red"> * </strong>
															</label> <input type="text" class="input namefild" name="">
														</div>
														<p class="privacy">
															<span class="input-radio"> <input type="radio"
																name="user">
															</span> <span class="text"> Tôi đã đọc và đồng ý với <a
																href="#" class="red"> Young Creative </a>
															</span>
														</p>
														<button>Tiếp tục</button>
													</div>
												</div>
											</div>
										</form>
									</div></li>
								<li class="steps"><a href="/checkout2" class="step-title">
										02. Thông tin thanh toán </a></li>
								<li class="steps"><a href="/checkout2" class="step-title">
										03. Thông tin giao hàng </a></li>
								<li class="steps"><a href="#" class="step-title"> 04.
										Phương pháp giao hàng </a></li>
								<li class="steps"><a href="#" class="step-title"> 05.
										Thông tin thanh toán </a></li>
								<li class="steps"><a href="#" class="step-title"> 06.
										Đánh giá đơn hàng </a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>