<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý cửa hàng</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<style>
    .contaner {
        border: 5px solid;
    }
</style>

<body>
    <div style="text-align: center;"><h2> THÔNG TIN CỬA HÀNG<img src="assets/img/logo1.jpg" width="200px" height="200px" ></h2> </div>    
    <div style="text-align: right;"><b>Đức Tài</b><img src="assets/img/logo1.jpg" width="100px" height="100px"></div>
    <div class="contaner">


        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" data-target="#edit" href="">QUẢN LÝ ĐƠN HÀNG</a></li>
            <li class="active"><a data-toggle="tab" data-target='#list' href="">DANH SÁCH ĐƠN HÀNG</a></li>
        </ul>
        <div class="tab-content">
            <div id="edit" class="tab-pane fade">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="color:red">QUẢN LÝ ĐƠN HÀNG</div>
                        <div class="panel-body">
                            <div class="row" style="background-color: khaki;">
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div>Id cửa hàng</div>
                                            <input ng-model="form.username" class="form-control">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Tên cửa hàng</div>
                                            <input ng-model="form.password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-sm-6">
                                            <div>Username</div>
                                            <input ng-model="form.fullname" class="form-control">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div>Trạng thái?</div>
                                            <div class="form-control">
                                                <label class="radio-inline"> <input ng-model="form.available"
                                                        ng-value="true" name="available" type="radio">Có
                                                </label> <label class="radio-inline"> <input ng-model="form.available"
                                                        ng-value="false" name="available" type="radio">Không
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-center">
                            <button ng-click="create()" class="btn btn-primary">
                                <b class="glyphicon glyphicon-plus"></b>Thêm
                            </button>
                            <button ng-click="update()" class="btn btn-success">
                                <b class="glyphicon glyphicon-save"></b>Sửa
                            </button>
                            <button ng-click="delete(form)" class="btn btn-danger">
                                <b class="glyphicon glyphicon-trash"></b>Xóa
                            </button>
                            <button ng-click="reset()" class="btn btn-info">
                                <b class="glyphicon glyphicon-refresh"></b>Làm mới
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div id="list" class="tab-pane fade in active">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="color:red">DANH SÁCH ĐƠN HÀNG</div>
                        <div class="input-group">
                            <div class="input-group-btn"></div>
                        </div>
                        <table class="table table-condensed">
                            <thead class="bg-success" style="font-variant: small-caps;">
                                <tr>
                                    <th>Id Cửa hàng</th>
                                    <th>Tên cửa hàng</th>
                                    <th>Username</th>
                                    <th>Trạng thái</th>
                                    <th class="glyphicon glyphicon-wrench"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in pager.items">
                                    <td>01</td>
                                    <td>Cửa hàng 1</td>
                                    <td>Duc Tai</td>
                                    <td>Yes</td>
                                    <td>
                                        <div class="btn-group btn-group-xs">
                                            <button ng-click="edit(item)"
                                                class="btn btn-warning glyphicon glyphicon-edit"></button>
                                            <button ng-click="delete(item)"
                                                class="btn btn-danger glyphicon glyphicon-trash"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="panel-footer text-center">
                            <button ng-click="pager.first()" class="btn btn-danger">
                                <b class="glyphicon glyphicon-hand-up"></b>
                            </button>
                            <button ng-click="pager.prev()" class="btn btn-primary">
                                <b class="glyphicon glyphicon-hand-left"></b>
                            </button>
                            <button class="btn btn-success">Trang 1 of 5</button>
                            <button ng-click="pager.next()" class="btn btn-primary">
                                <b class="glyphicon glyphicon-hand-right"></b>
                            </button>
                            <button ng-click="pager.last()" class="btn btn-danger">
                                <b class="glyphicon glyphicon-hand-down"></b>
                            </button>
                        </div>
                        <hr>
                        <button ng-click="reset1()" class="btn btn-info">
                            <b class="glyphicon glyphicon-refresh"></b>Reset
                        </button>
                        <div class="panel-footer text-right">
                            <div>Tìm kiếm theo tên cửa hàng</div>
                            <input ng-model="form.name" class="form-control">
                        </div>
                        <div class="panel-footer text-right">
                            <button ng-click="timkiemName()" class="btn btn-success">Tìm
                                kiếm</button>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>